body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.meniu-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    background-color: #95AEBA;
    align-items: center;
}

.meniu-container div{
    margin-right: 50px;
    font-size: 21px;
    color: white;
}

.meniu-container span {
    position: absolute;
    left: 20px;
    font-size: 21px;
    color: white;
}